HELP.md

# Build files
target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Spring Boot / Environment variables
.env
.env.*
application-local.properties
application-prod.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/